<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.isEmpty(usuario.id) ? 'Novo Usuário - ProspAI' : 'Editar Usuário - ProspAI'}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Inclui o fragmento do Header -->
<div th:insert="fragments/header :: header"></div>

<!-- Conteúdo principal -->
<div class="content">
    <h1 th:text="${#strings.isEmpty(usuario.id) ? 'Novo Usuário' : 'Editar Usuário'}"></h1>
    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post" class="form">
        <input type="hidden" th:field="*{id}"/>

        <!-- Campo para Nome -->
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" th:field="*{nome}" id="nome" class="form-control" required/>
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error-message"></div>
        </div>

        <!-- Campo para Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" required placeholder="exemplo@dominio.com"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></div>
        </div>

        <!-- Campo para Senha -->
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" th:field="*{senha}" id="senha" class="form-control" required/>
            <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="error-message"></div>
        </div>

        <!-- Campo para Papel -->
        <div class="form-group">
            <label for="papel">Papel</label>
            <input type="text" th:field="*{papel}" id="papel" class="form-control" required/>
            <div th:if="${#fields.hasErrors('papel')}" th:errors="*{papel}" class="error-message"></div>
        </div>

        <!-- Campo para Ativo -->
        <div class="form-group">
            <label for="ativo">Ativo</label>
            <input type="checkbox" th:field="*{ativo}" id="ativo" class="form-check-input"/>
        </div>

        <!-- Botões de Ação -->
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a th:href="@{/usuarios}" class="btn btn-outline-danger">Cancelar</a>
        </div>
    </form>
</div>

<!-- Inclui o fragmento do Footer -->
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
