<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estratégias de Vendas - ProspAI</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Inclui o fragmento do Header -->
<div th:insert="fragments/header :: header"></div>

<!-- Conteúdo principal -->
<div class="content">
    <h1>Lista de Estratégias de Vendas</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Data de Implementação</th>
            <th>Eficácia Prevista</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="salesStrategy : ${salesStrategies}">
            <td th:text="${salesStrategy.id}"></td>
            <td th:text="${salesStrategy.titulo}"></td>
            <td th:text="${salesStrategy.descricao}"></td>
            <td th:text="${salesStrategy.tipoEstrategia}"></td>
            <td th:text="${#temporals.format(salesStrategy.dataImplementacao, 'dd/MM/yyyy')}"></td>
            <td th:text="${salesStrategy.eficaciaPrevista} + '%'"></td>
            <td>
                <a th:href="@{/sales-strategies/{id}(id=${salesStrategy.id})}" class="btn btn-outline-primary">Visualizar</a>
                <a th:href="@{/sales-strategies/editar/{id}(id=${salesStrategy.id})}" class="btn btn-outline-secondary">Editar</a>
                <a th:href="@{/sales-strategies/deletar/{id}(id=${salesStrategy.id})}" class="btn btn-outline-danger" onclick="return confirm('Tem certeza que deseja deletar esta estratégia?');">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/sales-strategies/novo" class="btn btn-primary">Nova Estratégia de Vendas</a>
</div>

<!-- Inclui o fragmento do Footer -->
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
