<!-- /templates/fragments/header.html -->
<div th:fragment="header">
    <div class="header">
        <nav>
            <a th:href="@{/clientes}" class="nav-link">Clientes</a>
            <a th:href="@{/feedbacks}" class="nav-link">Feedbacks</a>
            <a th:href="@{/predictions}" class="nav-link">Predições</a>
            <a th:href="@{/reports}" class="nav-link">Relatórios</a>
            <a th:href="@{/sales-strategies}" class="nav-link">Estratégias de Vendas</a>
            <a th:href="@{/usuarios}" class="nav-link">Usuários</a>
        </nav>
    </div>
</div>
