<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Feedbacks - ProspAI</title>
    <!-- Importando CSS externo -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
</head>
<body>

<!-- Inclui o fragmento do Header -->
<div th:insert="fragments/header :: header"></div>

<!-- Conteúdo principal -->
<div class="content">
    <h1>Lista de Feedbacks</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Nota</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="feedback : ${feedbacks}">
            <td th:text="${feedback.id}"></td>
            <td th:text="${feedback.titulo}"></td>
            <td th:text="${feedback.descricao}"></td>
            <td th:text="${feedback.nota}"></td>
            <td>
                <a th:href="@{/feedbacks/{id}(id=${feedback.id})}" class="btn btn-outline-primary">Visualizar</a>
                <a th:href="@{/feedbacks/editar/{id}(id=${feedback.id})}" class="btn btn-outline-secondary">Editar</a>
                <a th:href="@{/feedbacks/deletar/{id}(id=${feedback.id})}" class="btn btn-outline-danger" onclick="return confirm('Tem certeza que deseja deletar este feedback?');">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/feedbacks/novo" class="btn btn-primary">Novo Feedback</a>
</div>

<!-- Inclui o fragmento do Footer -->
<div th:insert="fragments/footer :: footer"></div>

<!-- Importando JS externo -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
